{
  "name": "{{.ProjectName}}",
  "type": "package",
  "version": "0.1.0",
  "description": "Kuetix engine package: {{.ProjectName}}",
  "author": "",
  "license": "MIT",
  "dependencies": {}
  "engine": "{{.KuetixEngineVersion}}",
  "publisher": "",
  "keywords": []
}
