package modules

import (
	di "github.com/kuetix/container"
)

func init() {
	di.Boot()
	// bootstrap.DependencyInjection[""] = func() {
	// }
}

func Enable() {
	// workflowsPaths := &defines.SafeMapString{}
	// workflowsPaths.Reset()
	// di.ToParameter("workflows_paths", workflowsPaths)
}
