// {{.TransitionName}} {{.MethodDescription}}
func (t *{{.ModuleName}}Transitions) {{.TransitionName}}() (r domain.FlowStepResult) {
	r.Success = true
	r.Response = map[string]interface{}{
        "result": fmt.Sprintf("Executed %s", "{{.TransitionName}}"),
    }
	return
}
